.head {
  font-size: 2em;
  background: -webkit-linear-gradient(135deg, #4567b7 0%, #6495ed 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  gap:20px;
  max-width: 800px;
  margin-top: 42px;
}